<div class="main-login">
    <div class="left-login">

      <img src="../../../../../tr/src/assets/ecotourism-bro.svg"  class="left-login-image" alt="" >
     </div>


    <div class="right-login">
    <div class="card-login">

        <div class="form-group">
        <label for="esqueci a senha ">Informe o E-mail usado para entrar no sistema.</label>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" nome="email" placeholder="E-mail">
        </div>


            <div class="d-felx justify-content-center">
             <button calss="btn" type="submit" class="btn" routerLink="" >Enviar a Senha</button>

    </div>

</div>
</div>
