<div class="main-login">
  <div class="left-login">

    <img src="../../../../../tr/src/assets/ecotourism-bro.svg"  class="left-login-image" alt="" >
  </div>
     <div class="right-login">

     <div class="card-login">
         <h1>LOGIN</h1>
         <div class="textfield">

           <input type="text" name="usuario" placeholder="Usuário">
         </div>
         <div class="textfield">

             <input type="password" name="Senha" placeholder="Senha">

           </div>
           <button class="btn-login" routerLink="/home">Logar</button>

           <a routerLink="/cadastro" class="forgot">Esqueci a senha </a>
     </div>

  </div>
 </div>

