@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200&family=Noto+Sans:wght@400;600;700&family=Roboto:wght@100;300;400;700&display=swap');

.container{
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'outfit' , sans-serif;
}

.body
{
  height: 900vh;
}
.menu-lateral{
  width: 80px;
  height: 100%;
  padding: 40px 0 40px 1%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .2s;
 background-color: rgb(234, 231, 231);
 box-shadow: 3px 0 0 rgb(192, 191, 191);
}

.menu-lateral:hover{
width: 200px;
}

.btn-expandir{
  border: none;
  width: 100%;
  padding-left:10px ;

}

.menu-image{
font-size: 20px;
cursor:pointer;
}

ul{
  height: 90%;
  list-style-type: none;
}
ul li.item-menu:hover{
  background: rgb(192, 191, 191);
}

ul li.item-menu{
  transition: .2s;
}

ul li.ativo{
  background-color:rgb(192, 191, 191) ;
}

ul li.item-menu >a{
  color: black;
  text-decoration: none;
  padding: 5px ;
  display: flex;
  margin-bottom: 1px;
  line-height: 50px;
}

.txt-link{
  margin-left: 30px;
  transition: .3s;

}

.icon{
  height: 5px;
  font-size: 20px;

}
