<div class="body">

  <div class="menu-lateral">
    
    <div class="btn-expandir "   >
      <i><button (click)="onCondition() "
        > <img src="../../../../../../assets/menu.svg"  class="left-login-image" alt="" onclick="abrirNav()"> </button></i>
      </div>

    <ul *ngIf="condition" class="menu-color">
      <li class="item-menu">
        <a href="#">
          <span class="icon"><img src="../../../../../../assets/sale.svg"  class="left-login-image" alt="" ></span>
          <span class="txt-link">Vendas</span>
        </a>
      </li>
      <li class="item-menu">
        <a href="#">
          <span class="icon"><img src="../../../../../../assets/calendar.svg"  class="left-login-image" alt="" ></span>
          <span class="txt-link">Lembrete</span>
        </a>
      </li>
      <li class="item-menu">
        <a href="#">
          <span class="icon"><img src="../../../../../../assets/portion.svg"  class="left-login-image" alt="" ></span>
          <span class="txt-link">Parcela</span>
        </a>
      </li>
      <li class="item-menu">
        <a href="#">
          <span class="icon"><img src="../../../../../../assets/ranking.svg"  class="left-login-image" alt="" ></span>
          <span class="txt-link">Ranking</span>
        </a>
      </li>
      <li class="item-menu">
        <a href="#">
          <span class="icon"><img src="../../../../../../assets/meta.svg"  class="left-login-image" alt="" ></span>
          <span class="txt-link">Meta</span>
        </a>
      </li>
      <li class="item-menu">
        <a href="#">
          <span class="icon"><img src="../../../../../../assets/lance.svg"  class="left-login-image" alt="" ></span>
          <span class="txt-link">Lance</span>
        </a>
      </li>
      <li class="item-menu">
        <a href="#">
          <span class="icon"><img src="../../../../../../assets/finance.svg"  class="left-login-image" alt="" ></span>
          <span class="txt-link">Financeiro</span>
        </a>
      </li>
      <li class="item-menu">
        <a href="#">
          <span class="icon"><img src="../../../../../../assets/crm.svg"  class="left-login-image" alt="" ></span>
          <span class="txt-link">CRM</span>
        </a>
      </li>
      <li class="item-menu">
        <a href="#">
          <span class="icon"><img src="../../../../../../assets/relatorio.svg"  class="left-login-image" alt="" ></span>
          <span class="txt-link">Relatório</span>
        </a>
      </li>

    </ul>
  </div>
</div>
